<ion-modal-view>
  <ion-header-bar class="bar-light" style="background-color: #f9f9f9; border: none;">
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-positive button-clear" ng-click="closeFormMatricula()">
        <i class="icon ion-close-round"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content style="background-color: #f9f9f9;margin-bottom: 20px;" class="padding">
    <div class="list card">
      <div class="item item-text-wrap">
        {{plateActual.device.name}}
      </div>
      <div class="item item-divider">
        INFORMACION
      </div>
      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-android-car"></i>
        <strong>Matricula: </strong> {{plateActual.enrollment}}
      </div>

      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-card"></i>
        <strong>Licencia: </strong> {{plateActual.licence}}
      </div>

      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-telephone"></i>
        <strong>Numero tel.: </strong> {{plateActual.telephone_number}}
      </div>

      <div ng-if="userOrigin.Rol!='TECHNICAL'" class="item item-icon-left item-text-wrap">
        <i class="icon ion-hammer"></i>
        <strong>Instalacion: </strong> {{plateActual.install}}
      </div>

      <div ng-if="userOrigin.Rol=='TECHNICAL'" class="item item-icon-left item-button-right item-text-wrap">
        <i class="icon ion-hammer"></i>
        <strong>Instalacion: </strong> {{plateActual.install}}
        <button class="button button-positive" ng-click="editInstall(plateActual)">
          <i class="icon ion-edit"></i>
        </button>
      </div>


      <div class="item item-divider">
        ACCIONES
      </div>
      <button ng-if="plateActual.hasIbutton == 1" ng-click="smsEncendido()" class="item item-icon-left button button-positive button-block">
         <i class="icon ion-log-in"></i>
        ON ibutton
      </button>
      <button ng-if="plateActual.hasIbutton == 1" ng-click="smsApagado()" class="item item-icon-left button button-positive button-block">
         <i class="icon ion-log-out"></i>
        OFF ibutton
      </button>
      <button ng-click="smsReiniciar()" class="item item-icon-left button button-positive button-block">
         <i class="icon ion-wifi"></i>
        Reiniciar GPS
      </button>
    </div>
      

  </ion-content>
</ion-modal-view>