<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="ion-side-menu-controlgps" cache-view="false">
    <!--ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar-->
    <ion-content>
      <img class="nav-logo" src="img/logo_gps.png" style="width: 100%;height: auto;margin: 0 auto;padding: 15px;">
      <ion-list>
        <ion-item menu-close class="item-icon-left item-dark item-dark-controlgps" href="#/app/noticias">
         <i class="icon ion-chatboxes"></i> Inicio
        </ion-item>
         <ion-item ng-if="user.Rol=='TECHNICAL'" menu-close class="item-icon-left item-dark item-dark-controlgps" href="#/app/clientes">
          <i class="icon ion-android-car"></i> Matriculas
        </ion-item>

        <ion-item ng-if="user.Rol!='TECHNICAL'" menu-close class="item-icon-left item-dark item-dark-controlgps" href="#/app/matriculas">
          <i class="icon ion-android-car"></i> Matriculas
        </ion-item>

        <ion-item menu-close class="item-icon-left item-dark item-dark-controlgps" href="#/app/videotutoriales">
          <i class="icon ion-android-film"></i> Videotutoriales
        </ion-item>
        <ion-item menu-close class="item-icon-left item-dark item-dark-controlgps" href="#/app/logout">
          <i class="icon ion-log-out"></i> Cerrar sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
