<ion-view view-title="CONTROL GPS">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        VIDEO TUTORIALES
      </div>
      <ion-item ng-repeat="video in videos" ng-click="showFormVideo(video)" class="item-icon-right">
        <h2>{{video.name}}</h2>
        <p>
          {{video.created_at}}
        </p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <div class="title texto-mayusculas" ng-click="llamarSoporteTecnico()">Soporte Tecnico</div>
  </div>
</ion-view>
